{% extends 'shopapp/base.html' %}

{% block title %}
  Update order
{% endblock %}

{% block body %}
<div class="container p-5">
    <h1>Update order</h1>
  <div class="container p-3">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary btn-lg">Update</button>
    </form>
  </div>
  <br>
  <p><a href="{% url 'shopapp:order_details' pk=object.pk %}" class="btn btn-success btn-lg">Back to order #{{ object.pk }}</a></p>
</div>
{% endblock %}
