{% extends 'shopapp/base.html' %}
{% block title %}
    Order #{{ object.pk }} details
{% endblock %}

{% block body %}
<div class="container p-5">
<h1>Order #{{ object.pk }}</h1>
<div class="container">
    <p>Order by {% firstof order.user.first_name order.user.username%}</p>
    <p>Promocode: {{object.promocode}}</p>
    <p>Delivery address: {{object.delivery_address}}</p>
    <div>Products in order
        <ul>
            {% for product in object.products.all %}
            <li> {{ product.name }} for ${{product.price}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<p>
    <a href="{%url 'shopapp:order_update' pk=object.pk %}" class="btn btn-primary btn-lg">Update order</a>
</p>
<p>
    <a href="{%url 'shopapp:order_delete' pk=object.pk %}" class="btn btn-primary btn-lg">Delete order</a>
</p>
<p>
    <a href="{% url 'shopapp:orders_list' %}" class="btn btn-success btn-lg">Back to orders</a>
</p>
</div>
{% endblock %}
