{% extends 'shopapp/base.html' %}

{% block title %}
  Create product
{% endblock %}

{% block body %}
<div class="container p-5">
    <h1>Create product</h1>
  <div class="container pt-3">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary btn-lg">Create</button>
    </form>
  </div>
  <br>
  <p><a href="{% url 'shopapp:products_list' %}" class="btn btn-success btn-lg">Back to products list</a></p>
</div>
{% endblock %}