{% extends 'myauth/base.html' %}

{% block title %}
User #{{ user.pk }}
{% endblock %}

{% block body %}
<div class="container p-5">
    <h1>User <strong>{{ user.username }}</strong></h1>
    <h2>Details</h2>
    <div class="container">
        <p>Username: {{ user.username }}</p>
        <p>First name: {{user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Bio: {{ user.profile.bio }}</p>
        {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.username }}">
        {% else %}
        <p>No user avatar yet</p>
        {% endif %}
        {% if request.user.is_superuser %}
        <div>
            <a href="{%url 'myauth:avatar_update' pk=user.pk %}" class="btn btn-success btn-lg">Update avatar</a>
        </div>
        {% endif %}
        <br>
        <br>
        <div class="container">
            <a href="{% url 'myauth:users_list' %}" class="btn btn-primary btn-lg">Back to users list</a>
        </div>
    </div>
</div>
{% endblock %}
