{% extends 'blogapp/base.html' %}

{% block title %}
    Article #{{ object.pk }}
{% endblock %}

{% block body %}
    <h1>Article</h1>
    <div>
        <p>Article: {{ article.title }}</p>
        <p>By {{ article.author.name }}</p>
        <p>Date of publication: {{ article.pub_date }}</p>
        <p>Category: {{ article.category.name }}</p>
        <p>Tags:
            <ul>
                {% for tag in article.tags.all %}
                    <li> {{ tag.name }} </li>
                {% endfor %}
            </ul>
        </p>
        <p>Content: {{ article.content }}</p>
    </div>
    <div>
        <a href="{% url 'blogapp:articles' %}">Back to articles list</a>
    </div>
{% endblock %}